.pdfshow { width: 100px; height: 62px; position: absolute; left: 30px; bottom: 30px; z-index: 200; background: url(../../content/img/app/pdficon.png) no-repeat left bottom; }
.zjfoverlay { z-index: 9999; position: absolute; width: 1024px; height: 762px; padding-top: 4px; background: rgba(0,0,0,0.5); top: 0; left: 0; display: none; -webkit-box-shadow: 1px 1px 25px #ccc; }
.zjfoverlayinner { width: 780px; height: 400px; padding: 30px 20px 50px; background: #fff; border: 2px solid #000; margin: 159px auto 0; line-height: 1.5; color: #000; /*-webkit-border-radius: 10px;*/ /* border-radius: 10px;*/ -webkit-border-top-right-radius: 37px; -webkit-border-bottom-left-radius: 37px; }
.zjfoverclose { position: absolute; top: 586px; right: 129px; height: 35px; width: 35px; border: 1px solid #CCC; background-image: -webkit-gradient(linear, left top, left bottom, from(#9f9f9f), to(#b2b2b2)); -webkit-border-radius: 5px; border-radius: 5px; font-size: 40px; color: #ffffff; overflow: hidden; text-align: center; line-height: 35px; }
#zjfoverlay_coc501 li a[data-pdf] { background: url(../../content/img/references_references/pdf-icon.png) no-repeat left -5px; background-size: 45px; }
#zjfoverlay_coc501 li a { padding-left: 65px; min-height: 65px; display: -webkit-box; /*-webkit-box-align: center;*/ margin-top: 2px; margin-left: 15px; margin-right: 15px; line-height: 19px; }
#zjfoverlay_coc501 .wrapper1 { height: 318px; margin: 20px auto; width: 670px; position: relative; }
    #zjfoverlay_coc501 .wrapper1 ul li a span { display: inline-block; margin-left: -18px; }
#zjfoverlay_coc501 .scroll-indicator2 { display: block; position: absolute; bottom: 138px; left: 492px; background: url('../../content/img/app/arrows/arrows_sprite.png') 7px 0 no-repeat; height: 10px; width: 35px; background-size: 90px 10px; }
    #zjfoverlay_coc501 .scroll-indicator2.scrolled { background-position: -27px 0; }
    #zjfoverlay_coc501 .scroll-indicator2.end-scrolled { background-position: -63px 0; }
.literature-show { width: 21px; height: 20px; position: absolute; left: 30px; bottom: 30px; z-index: 200; background: url(../../content/img/app/pdficon.png) no-repeat 0px 0px; -webkit-transform: translate3d(0,0,0); }
.literature-shadow { z-index: -1; position: absolute; width: 1024px; height: 762px; padding-top: 4px; background: rgba(0,0,0,0.5); top: 0; left: 0; opacity: 0; -webkit-box-shadow: 1px 1px 25px #ccc; }
.show-refs { z-index: 1; opacity: 1; }
.literature-wrapper { width: 780px; height: 400px; padding: 30px 20px 50px; background: #fff; border: 2px solid #666; margin: 159px auto 0; line-height: 1.5; color: #000; -webkit-border-radius: 15px; border-radius: 15px; -webkit-box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.4); /* -webkit-border-top-right-radius: 37px;     -webkit-border-bottom-left-radius: 37px;*/ }
.literature-close { position: absolute; top: 181px; right: 115px; height: 16px; width: 16px; background-image: -webkit-gradient(linear, left top, left bottom, from(#9f9f9f), to(#b2b2b2)); -webkit-border-radius: 3px; border-radius: 3px; font-size: 16px; color: #ffffff; overflow: hidden; text-align: center; }
    .literature-close span { display: block; margin-top: -2px; }
#content { position: absolute; width: 550px; height: 500px; left: 300px; top: 300px; line-height: 50px; }
.abc1 { width: 480px; color: #000000; position: absolute; margin: 0; font-size: 30px; font-weight: bold; font-family: Frutiger75Black; line-height: 30px; }
    .abc1 sub { position: relative; font-size: 15px; font-weight: normal; left: 525px; top: -47px; }
.abc2 { width: 480px; color: #000000; margin-top: 50px; }
    .abc2 sub { position: relative; left: 0px; top: -8px; font-size: 10px; }
.cont-1 { width: 480px; color: #000000; position: absolute; margin: 0; font-size: 30px; font-weight: bold; font-family: Frutiger75Black; line-height: 30px; }
    .cont-1 sub { position: relative; font-size: 15px; font-weight: normal; left: 525px; top: -47px; }
.cont-2 { width: 480px; color: #000000; margin-top: 50px; }
    .cont-2 sub { position: relative; left: 0px; top: -8px; font-size: 10px; }

#home { background: url("../../content/img/home/main_bg.jpg") no-repeat; background-size: contain; /*background-position-y: -30px;*/ }
    #home .homekv { background: url("../../content/img/home/KV.jpg") no-repeat; }
.topimg { position: absolute; top: 0; left: 0; width: 100%; height: 641px; background-size: contain; }
#starters_home { }
.homebg { background: url("../../content/img/starters_home/homebg.jpg") no-repeat; }
.homebtn1 { position: absolute; left: 230px; top: 180px; }
.homebtn2 { position: absolute; left: 230px; top: 310px; }

#home h1 { font: 31px FrutigerBlack; line-height: 32px; color: #381b62; text-align: left; margin: 79px 0 183px 52px; position: relative; }
#home dt { padding-left: 52px; margin-bottom: 22px; font: 14px FrutigerLTStd-BoldCn; color: #77787b; }
    #home dt sup { font-size: 11px; }
#home dd { font: 24px FrutigerBlack; color: #381b62; position: relative; padding-left: 52px; line-height: 23px; }
    #home dd:before { content: ''; display: block; position: absolute; top: 11px; left: 0; width: 40px; height: 1px; background-color: #d9187e; }
#home .highlighted { color: #d9187e; }

#start_index { background: url(../../content/img/body-background.jpg) no-repeat; }
/*#predefined { background: url("../../content/img/home/home-bg.jpg") no-repeat; }*/
